            <div class="container">
              <div class="row">
            <table id="myTable" class="table table-bordered table-striped" class="col-sm-8">
              <thead>
                <th>nom</th>
                <th>prenom</th>
                <th>age</th>
                <th>cin</th>
                <th>action</th>
              </thead>
              <tbody>
                <tr *ngFor="let pr of etudiant">
                      <td>{{pr.nom}}</td>
                      <td>{{pr.prenom}}</td>
                      <td>{{pr.age}}</td>
                      <td>{{pr.cin}}</td>
                      <td>
                        <button class=''  ><span class='glyphicon glyphicon-edit'></span> Edit</button>
                        <button class='btn btn-danger btn-sm' ><span class='glyphicon glyphicon-trash' ></span> Delete</button>
                      </td>
                    </tr>
              </tbody>
            </table>
            </div>
            </div>
            